<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028739085844-502c5gc58k4kud5cb22mks02fpbto6i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028739085844-502c5gc58k4kud5cb22mks02fpbto6i4</string>
	<key>API_KEY</key>
	<string>AIzaSyC5UDk6uA2riDoENwp4LV94MNKi3c0qh28</string>
	<key>GCM_SENDER_ID</key>
	<string>1028739085844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ideaboxtest.safet2</string>
	<key>PROJECT_ID</key>
	<string>safe-t-device-ideabox</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-t-device-ideabox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028739085844:ios:6ed7e25b2440a7a60d9901</string>
</dict>
</plist>